.headline{
   font-weight: bold;
   margin-top: 60px;
   color:#1C1854;
}

.btn{
   background-color: #1C1854;
   border-radius: 25px;
}

.btn:hover {
   background-color: #11a6a1;
}

.left-column {
   background-color: #89b3ca;
   padding: 20px;
   border-radius: 15px;
}

.form-group{
   font-weight: bold;
}

.container {
   min-height: 74.3%;
}

.form-row {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.button-group {
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-group .btn {
   margin-inline: 15px;
}
